.main:has(.page-single){
	min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
	max-width: calc(var(--nav-width) + var(--gap) * 2);
	background-color: var(--background-color);
	padding: 30px 100px;
	margin-top: var(--gap);
	border: 10px solid var(--border);
	margin-bottom: var(--gap);
	transition: .3s;
	/* box-shadow: 10px 10px 0px 0px var(--nord-primary); */
}

a[href*="/tags/"] {
	color: var(--link-accent);
	font-weight: bold;
}

.highlight-word {
	color: var(--nord-primary);
	font-weight: bold;
}

.landing-contact {
 text-align: left;
}

.quote-section {
	margin-top: 90px;
	font-size: 90%;
}

.quote-section .description {
	font-style: italic;
	color: var(--base-elements-secondary);
	text-align: right;
	font-size: 14px;
}

.quote-section-inner {
	background: var(--background-color);
	padding: 20px;
	border: 1px solid var(--nord-primary);
	box-shadow: 5px 5px 0px 0px var(--nord-primary);
}


.quote-section-inner .author {
	font-style: italic;
	color: var(--base-elements-secondary)
}

.quote-section-inner > .quote {
	font-style: italic;
	text-align: left;
	color: var(--base-elements-secondary);
	display: block;
}

.link:hover {
	cursor: pointer
}

.landing {
	text-align: left;
}

.landing p {
	margin-bottom: 20px;
}

@media (max-width: 992px) {
	.main:has(.page-single){
		background: none;
		padding: 30px;
		padding-top: 0px;
		border: none;
	}
}
