.love > .fa-heart {
	  color: var(--nord11);
    animation: pound .35s infinite alternate;
		margin-left: 1px;
}

.footer {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align: center;
    line-height: 24px;
		color: var(--base-elements);
    font-size: 12px;
}

.top-link {
	color: var(--nord6);
	filter: drop-shadow(0 0 0 var(--nord-primary));
}

.top-link svg {
filter: drop-shadow(0 0 0 var(--nord-primary));
}

.footer a:hover,
.top-link:hover {
    color: var(--secondary);
}


.footer a:hover {
    border-bottom: 1px solid var(--secondary);
}

@keyframes pound {
	from {
		transform: scale(1.1);
	}

	to {
		transform: scale(1.2);
	}
}

.social-icons {
	text-align: center;
}

.social-icons a {
	border: 0px;
}

.social-icons a:hover {
	border: 0px;
}

.social-icons a svg {
	color: var(--secondary);
	transition: 0.3s;
}

.footer a svg:hover {
    color: var(--link-accent);
}

/* page footer */

.page-footer .pagination a {
	border-radius: var(--radius);
	background: var(--background-color);
	color: var(--base-elements);
	border: 1px solid var(--nord-primary);
	transition: .3s;
}

.page-footer .pagination a:hover {
	box-shadow: 3px 3px 0px 0px var(--nord-primary);
	transform: translate(-0.25rem, -0.1rem);
}


