.footer {
	color: var(--snow-storm-2);
}

.love > .fa-heart {
	  color: var(--aurora-red);
    animation: pound .35s infinite alternate;
		margin-left: 1px;
}

@keyframes pound {
	from {
		transform: scale(1.1);
	}

	to {
		transform: scale(1.2);
	}
}


.social-icons {
	text-align: center;
}

.social-icons a {
	border: 0px;
}

.social-icons a:hover {
	border: 0px;
}

.social-icons a svg {
	color: var(--secondary);
}
