
#menu .active {
	background-image: linear-gradient(
		to right,
		var(--link-accent-nav),
		var(--link-accent-nav) 50%,
		var(--link-accent-nav) 0%
	) !important;
	border-bottom: 3.5px solid var(--link-accent-nav);
}

#menu span {
	font-weight: 500;
	background-image: linear-gradient(
		to right,
		var(--link-accent-nav),
		var(--link-accent-nav) 50%,
		var(--nord-primary) 0%
	) !important;
	background-size: 200% 100%;
	background-position: -100%;
	background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
	position: relative;
}

#menu span:before {
  content: '';
  background: var(--link-accent-nav);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#menu span:hover {
  background-position: 0;
}

#menu span:hover::before {
  width: 100%;
}


/* Styles for extra small devices */
@media (max-width: 576px) {
	.nav {
		justify-content: center;
	}
}
