.post-content h1,
.post-content h2,
.post-content h3,
.post-content h5 {
	color: var(--base-elements);
}

.post-content h4 {
	color: var(--secondary);
}

.post-title {
	color: var(--base-elements);
	letter-spacing: -2px;
	font-family: 'Roboto Slab';
}

.post-description {
	font-style: italic;
}

.post-title span {
	color: var(--secondary)
}

ul li::marker {
	color: var(--secondary)
}

.post-meta>i {
	margin-left: 10px;
	margin-right: 3px;
	color: var(--link-accent);
	align-self: center;
}

.post-meta>a:hover {
	color: var(--background-color);
	background: var(--link-accent);
}


.post-meta>a {
	padding: 0px 5px;
}


.post-footer .share-buttons {
	background: none;
	border: none;
}

.post-footer .share-buttons a {
	color: var(--secondary);
	transition: .3s
}

.post-footer .share-buttons a:hover {
	color: var(--nord-primary);
}

.post-footer .post-tags {
	visibility: hidden;
}

.post-content blockquote {
	margin: 20px 0;
	padding: 0 14px;
	border-inline-start: 3px solid var(--secondary);
}

.hljs-comment {
	color: var(--nord3) !important;
}

.toc {
	border-radius: 7px !important;
}

.toc details summary {
	cursor: pointer !important;
}

.entry-cover {
	border: 1px solid var(--border);
	border-radius: 7px;
}
