.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5 {
	color: var(--secondary);
}

.post-title {
	color: var(--nord-primary);
}

ul li::marker {
	color: var(--secondary)
}

.post-meta > i {
	margin-left: 10px;
	margin-right: 3px;
	color: var(--link-accent);
	align-self: center;
}

.post-meta > a:hover,
.link:hover {
	color: var(--theme);
	background: var(--link-accent);
}


.post-meta > a {
	padding: 0px 5px;
}


.post-content a,
.link {
	color: var(--link-accent);
	transition: 0.3s;
}

.post-content  a:hover,
.link:hover {
	color: var(--theme);
	background: var(--link-accent)
}


.post-footer .share-buttons {
	background: none;
	border: none;
}

.post-footer .share-buttons a {
	color: var(--secondary);
	transition: .3s
}

.post-footer .share-buttons a:hover {
	color: var(--nord-primary);
}

.post-footer .post-tags {
	visibility: hidden;
}
