:root {
	/* background and area coloring -- base elements (plain text) */
	--nord0: #2E3440; 
	--nord6: #ECEFF4;
	/* elevated ui (panels, modals ...) -- subtle ui text or state animations (button is hovered) */
	--nord1: #3B4252; 
	--nord4: #D8DEE9;
	/* for both ambiances -> brighter/darker variant of nord1/nord4 */
	--nord2: #434C5E; 
	--nord5: #E5E9F0;
	/* for both ambiances -> brighter/darker variant of nord2 */
	--nord3: #4C566A; 

	/* UI elements that should, next to primary accent color nord8, standout */
	--nord7: #8FBCBB; 
	/* accent color */
	--nord8: #88C0D0; 
	/* for secondary UI elements */
	--nord9: #81A1C1; 
	/* for tertiary UI elements */
	--nord10: #5E81AC; 

	/* errors */
	--nord11: #BF616A; 
	/* advanced or dangerous functionality */
	--nord12: #D08770; 
	/* warning states */
	--nord13: #EBCB8B; 
	/* sucess states */
	--nord14: #A3BE8C; 
	/* uncommon functionality */
	--nord15: #B48EAD; 


	--gap: 24px;
	--content-gap: 20px;
	--nav-width: 1024px;
	--main-width: 1024px;
	--header-height: 60px;
	--footer-height: 60px;
	--radius: 0px;

	--hljs-bg: rgb(28, 29, 33);
	--code-bg: rgb(245, 245, 245);

	--base-elements: var(--nord2);
	--base-elements-secondary: var(--nord3);
	--background-color: var(--nord5);
	--entry: var(--nord5);
	--border: var(--nord2);
	--link-accent: var(--nord8);
	--nord-primary: var(--nord2);
	--secondary: var(--nord10);
	--tertiary: var(--nord10);
	--content: var(--base-elements);
	--background: url("/liquid-cheese-white.png");

	--theme: red;
	--primary: green;
}

.dark {
	--base-elements: var(--nord6);
	--base-elements-secondary: var(--nord4);
	--background-color: var(--nord0);
	--entry: var(--nord0);
	--border: var(--nord6);
	--nord-primary: var(--nord6);
	--link-accent: var(--nord8);
	--secondary: var(--nord9);
	--tertiary: var(--nord10);
	--content: var(--base-elements);
	--background: url("/liquid-cheese.png");

	--primary: green;
}


.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--background-color);
}
