{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
  {{- $formattedDate := .Date.Format (default "January 2, 2006" site.Params.DateFormat) }}
  {{- $formattedDateHTML := printf "<span title='%s'>%s</span>" .Date $formattedDate | safeHTML }}
  {{- $scratch.Add "meta" (slice $formattedDateHTML) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
  {{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
  {{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
  {{- with (partial "author.html" .) }}
    {{- $scratch.Add "meta" (slice .) }}
  {{- end }}
{{- end }}

{{- with $scratch.Get "meta" }}
  {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end }}

<i class="fa fa-tag"></i>
{{- with .Params.tags -}}
  {{- if ge (len .) 1 -}}
    {{- range . -}}
      <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">#{{ . }}</a>
    {{- end -}}
  {{- end -}}
{{- end -}}